@import "../../variables";

.sos-radio {
  input[type="radio"] {
    display: none;
  }

  .label {
    text-align: center;
  }

  .options {
    width: 100%;
    display: flex;
  }

  .option {
    border: 1px solid $border-color;
    text-transform: uppercase;
    flex: 1;
    display: block;
    padding: 0.8rem 0;
    text-align: center;

    &.active {
      background-color: $primary-color;
      color: white;
      font-weight: bold;
    }
  }
}
